<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="panel panel-danger" th:if="${docRec.candidate}" th:fragment="assign_info">
			<div class="panel-heading"><h4>Thông Tin Nhiệm Vụ</h4></div>
			<div class="panel-body">
				<div>
					<div class="form-group">
						<label for="showTimeStart" class="col-sm-2 control-label">Ngày bắt đầu</label>
						<div class="col-sm-10">
							<p th:text="${docRec.candidate.getTimeStartString()}" id="showTimeStart"></p>
						</div>
					</div>
					
					<div class="form-group">
						<label for="showTimeEnd" class="col-sm-2 control-label">Ngày hết hạn</label>
						<div class="col-sm-10">
							<p th:text="${docRec.candidate.getTimeEndString()}" id="showTimeEnd"></p>
						</div>
					</div>
					
					<div class="form-group">
						<label for="showContent" class="col-sm-2 control-label">Nội dung phân công</label>
						<div class="col-sm-10">
							<textarea class="form-control content" id="showContent" rows="6" maxlength="1500" th:text="${docRec.candidate.content}" disabled="true"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>