<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="panel panel-danger" th:if="${docRec.assignContent}" th:fragment="assign_info">
			<div class="panel-heading"><h4>Thông Tin Nhiệm Vụ</h4></div>
			<div class="panel-body">
				<div>
					<div class="form-group" th:if="${docRec.assignContent.owner}">
						<label for="onwer" class="col-sm-3 control-label">Người phân công</label>
						<div class="col-sm-9">
							<p id="owner">
								<span th:if="${docRec.assignContent.owner.userDetail}" th:text="${docRec.assignContent.owner.userDetail.fullName}"></span>
								<span th:unless="${docRec.assignContent.owner.userDetail}" th:text="${docRec.assignContent.owner.userName}"></span>
							</p>
						</div>
					</div>

					<div class="form-group">
						<label for="showTimeStart" class="col-sm-3 control-label">Ngày bắt đầu</label>
						<div class="col-sm-9">
							<p th:text="${docRec.assignContent.getTimeStartString()}" id="showTimeStart"></p>
						</div>
					</div>
					
					<div class="form-group">
						<label for="showTimeEnd" class="col-sm-3 control-label">Ngày hết hạn</label>
						<div class="col-sm-9">
							<p th:text="${docRec.assignContent.getTimeEndString()}" id="showTimeEnd"></p>
						</div>
					</div>
					
					<div class="form-group">
						<label for="showContent" class="col-sm-3 control-label">Nội dung phân công</label>
						<div class="col-sm-9">
							<textarea class="form-control content" id="showContent" rows="6" maxlength="1500" th:text="${docRec.assignContent.content}" disabled="true"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>