<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="modal fade" id="doc-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" th:fragment="doc_out_form">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Thông tin văn bản</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" th:action="@{/flow/save_doc_out}  + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" autocomplete="off" enctype="multipart/form-data">
						<!-- title -->
						<div class="form-group">
							<label for="title" class="col-sm-2 control-label">Tiêu đề</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="title" th:name="title" value="" required="true"/>
							</div>
						</div>
						
						<!-- docName -->
						<div class="form-group">
							<label for="docName" class="col-sm-2 control-label">Tên văn bản</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="docName" th:name="docName" value="" required="true"/>
							</div>
						</div>

						<!-- epitome -->
						<div class="form-group">
							<label for="epitome" class="col-sm-2 control-label">Trích yếu</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="7" maxlength="450" id="epitome" placeholder="Nội dung tóm tắt" required="true" th:name="epitome"></textarea>
							</div>
						</div>

						<!-- typeId -->
						<div class="form-group">
							<label for="docType" class="col-sm-2 control-label">Loại văn bản</label>
							<div class="col-sm-10">
								<select class="form-control" id="docType"  th:name="docTypeId" required="true">
									<option th:each="docType : ${docTypeList}"
											th:value="${docType.docTypeId}"
											th:text="${docType.docTypeName}"
											th:attr="class=${docType.shortName}">
									</option>
								</select>
							</div>
						</div>

						<!-- tenureId -->
						<div class="form-group">
							<label for="tenure" class="col-sm-2 control-label">Năm (Nhiệm kỳ)</label>
							<div class="col-sm-10">
								<select class="form-control" id="tenure"  th:name="tenureId" required="true">
									<option th:each="tenure : ${tenureList}"
											th:value="${tenure.tenureId}"
											th:text="${tenure.tenureName} + ' (Từ ngày : ' + ${tenure.getTimeStartString()} + ' -> ' + ${tenure.getTimeEndString()} + ')'">
									</option>
								</select>
							</div>
						</div>

						<!-- releaseTime -->
						<div class="form-group">
							<label for="releaseTime" class="col-sm-2 control-label">Ngày ban hành</label>
							<div class="col-sm-10">
								<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="releaseTime" data-link-format="dd-mm-yyyy">
									<input class="form-control" size="16" type="text" value="" th:name="releaseTime" id="releaseTime"/>
									<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
								<input type="hidden"  value="" class="hidden"/><br/>
							</div>
						</div>

						<!-- numberSign -->
						<div class="form-group">
							<label for="number" class="col-sm-2 control-label">Số và ký hiệu</label>
							<div class="col-sm-10">
								<div class="form-inline">
									<input type="text" class="form-control" id="number" th:name="number" required="true"/>
									<input type="text" class="form-control" id="numberSign" th:name="numberSign" value="" required="true"/>
									<input type="text" class="form-control" id="departments" th:name="departments" value="" placeholder="Bộ phận tham mưu"/>
									<button type="button" id="btnAutoGeneratedNumber" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">Tự động</button>
								</div>
							</div>
						</div>

						<!-- organ -->
						<div class="form-group">
							<label for="organ" class="col-sm-2 control-label">Đơn vị ban hành</label>
							<div class="col-sm-10" style="margin-top : 7px;">
								<p th:text="${doc.organ.organName}" id="organ" th:attr="class=${doc.organ.organType.shortName}"></p>
								<p th:text="${doc.organ.organId}" id="organId" class="hidden"></p>
							</div>
						</div>

						<!-- file -->
						<div class="form-group">
							<label for="file" class="col-sm-2 control-label">Tập tin tải lên</label>
							<div class="col-sm-10" style="margin-top:10px;">
								<input type="file" id="file" th:name="file"/>
								<p class="help-block"></p>
							</div>
						</div>

						<!-- privacyId -->
						<div class="form-group">
							<label for="privacyId" class="col-sm-2 control-label">Mức độ mật</label>
							<div class="col-sm-10">
								<select class="form-control" id="privacyId"  th:name="privacyId" required="true">
									<option th:each="privacy : ${privacyList}"
											th:value="${privacy.privacyId}"
											th:text="${privacy.privacyName}">
									</option>
								</select>
							</div>
						</div>

						<!-- emeId -->
						<div class="form-group">
							<label for="emeId" class="col-sm-2 control-label">Mức độ khẩn</label>
							<div class="col-sm-10">
								<select class="form-control" id="emeId"  th:name="emeId" required="true">
									<option th:each="eme : ${emeList}"
											th:value="${eme.emeId}"
											th:text="${eme.emeName}">
									</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="comment" class="col-sm-2 control-label">Góp ý sửa đổi</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="8" maxlength="1000" placeholder="Góp ý sửa đổi" th:name="comment" id="comment"></textarea>
							</div>
						</div>

						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Lưu</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>