<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8"></meta>
</head>
<body>
	<footer class="footer" th:fragment="footer">
		<div class="content">
			<p class="rtecenter" style="text-align: center;">
				<span style="font-size: 16px"> <span
					style="font-family: tahoma, geneva, sans-serif"> <strong>VĂN
							PHÒNG ĐOÀN TRƯỜNG</strong>
				</span>
				</span><br /> Phòng D101, Trường Đại học Công nghệ Thông tin.<br /> Khu phố
				6, P.Linh Trung, Q.Thủ Đức, TP.Hồ Chí Minh.<br /> Email: <strong><a
					href="mailto:doantn@uit.edu.vn">doantn@uit.edu.vn</a></strong>
			</p>
		</div>
	</footer>
</body>
</html>