<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8"></meta>
</head>
<body>
	<footer class="footer row" th:fragment="footer" id="footer-all-page">
		<!-- <div class="content">
			<p class="rtecenter" style="text-align: center;">
				<span style="font-family: tahoma, geneva, sans-serif; font-size: 16px;"><strong>VĂN
					PHÒNG ĐOÀN</strong>
				</span><br/> 
				<span>Phòng D101, Trường Đại học Công nghệ Thông tin.</span><br /> 
				<span>Khu phố 6, P.Linh Trung, Q.Thủ Đức, TP.Hồ Chí Minh.</span><br /> 
				Email: <strong><a href="mailto:vpdoan@uit.edu.vn">vpdoan@uit.edu.vn</a></strong>
			</p>
		</div> -->
	</footer>
</body>
</html>