<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8"></meta>
</head>
<body>
	<div class="panel panel-default" th:if="${isForward}" th:fragment="forward">
			 	<div class="panel-heading"><h4>Chuyển quyền xử lý tiếp theo</h4></div>
			 	<div class="panel-body">
			 		<form class="form-horizontal" th:action="@{/flow/forward}" method="post" autocompleted="off">
			 			<div class="hidden">
							<div class="col-sm-10">
								<input type="text" class="form-control" th:name="docId" th:value="${doc.docId}" required="true"/>
							</div>
						</div>

			 			<div class="form-group">
			 				<label for="candidateRole" class="col-sm-2 control-label">Quyền xử lý</label>
			 				<div class="col-sm-10">
			 					<p id="candidateRole">
			 						<span th:each="cr : ${candidateRole}" th:text="${cr.fullName}">,</span>
			 					</p>
			 				</div>
			 			</div>

			 			<div class="form-group">
							<label for="candidateUser" class="col-sm-2 control-label">Người dùng</label>
							<div class="col-sm-10">
				 				<select class="form-control" th:name="userId" id="candidateUser" required="true">
				 					<option th:each="u : ${userList}"
				 							th:text="${u.userName}"
				 							th:value="${u.userId}">
				 					</option>
				 				</select>
			 				</div>
			 			</div>
			 			<div class="form-group">
				 			<div class="col-sm-offset-2 col-sm-10">
				 				<button type="submit" class="btn btn-primary">Xác nhận</button>
				 			</div>
			 			</div>
			 		</form>
			 	</div>
		</div>
</body>
</html>