<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8"></meta>
</head>
<body>
	<nav class="navbar navbar-default" th:fragment="menu">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand">Trang chủ</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#" th:href="@{/store/list}">Lưu trữ</a></li>
					<li class="dropdown" sec:authorize="isAuthenticated()">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Xử
							lý văn bản<span class="caret"></span>
						</a>

						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Văn bản đến <span class="badge">4</span></a></li>
							<li><a href="#">Văn bản đi <span class="badge">4</span></a></li>
						</ul></li>
					<li><a href="#" th:href="@{/impl/create_form}" sec:authorize="isAuthenticated()">Tạo văn bản</a></li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false" sec:authorize="hasRole('ROLE_ADMIN')">Quản
							lý<span class="caret"></span>
						</a>

						<ul class="dropdown-menu" role="menu">
							<li class="divider">Cơ quan</li>
							<li><a href="#" th:href="@{/admin/organ_list}">Cơ quan</a></li>
							<li><a href="#" th:href="@{/admin/organ_type_list}">Cấp cơ quan</a></li>
							<li><a href="#" th:href="@{/admin/unit_list}">Đơn vị</a></li>

							<li class="divider">Văn bản</li>
							<li><a href="#" th:href="@{/admin/doctype_list}">Loại văn bản</a></li>
							<li><a href="#" th:href="@{/admin/privacy_list}">Mức độ mật</a></li>
							<li><a href="#" th:href="@{/admin/emergency_list}">Mức độ khẩn</a></li>

							<li class="divider">Nhiệm kỳ</li>
							<li><a href="#" th:href="@{/admin/tenure_list}">Nhiệm kỳ</a></li>
							
							<li class="divider">Luồng văn bản</li>
							<li><a href="#" th:href="@{/admin/flow}">Quản lý luồng</a></li>

						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false" sec:authorize="hasRole('ROLE_ADMIN')">Quản
							trị<span class="caret"></span>
						</a>
						
						<ul class="dropdown-menu" role="menu">
							<li class="divider">Quyền hạn</li>
							<li><a href="#" th:href="@{/admin/user_list}">Người dùng</a></li>
							<li><a href="#" th:href="@{/admin/role_list}">Quyền hạn</a></li>
						</ul>
					</li>
				</ul>

				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control"
							placeholder="Nhập nội dung tìm kiếm"></input>
					</div>
					<button type="submit" class="btn btn-default">Tìm kiếm</button>
				</form>

				<ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
					<li role="presentation"><a sec:authentication="name" href="#">Name</a></li>
					<form th:action="@{/j_spring_security_logout}" method="post"
						class="navbar-form navbar-left">
						<button type="submit" class="btn btn-default">Thoát</button>
					</form>
				</ul>
				
				<ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
					<form th:action="@{/signin}" method="post"
						class="navbar-form navbar-left">
						<button type="submit" class="btn btn-default">Đăng nhập</button>
					</form>
				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</body>
</html>