<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
<div th:fragment="release_task">
    <div class="container-fluid">
    	<div id="contain-release"></div>
    	<div id="page-selection-release" th:if="${rowListOut.size() > 1}"></div>
    	<div class="hidden" id="total-page-release" th:attr="data=${rowListOut.size()}"></div>

        <div th:each="row : ${rowListOut}" th:attr="id='contain-release-' + (${row}  + 1)" class="hidden row">
            <div>
                <table class="table sort_table" th:attr="id='table-release-' + (${row}  + 1)">
                    <thead>
                        <tr>
                            <th>Văn bản</th>
                            <th>Thời gian chờ</th>
                            <th>Mức độ khẩn</th>
                        </tr>
                    </thead>
                    <tbody>
    	                   <tr  th:each="elem : ${elemListOut}" th:with="Index=${row} * ${elemListOut.size()} + ${elem}" >
    	                   		<td th:if="${Index} lt ${docOutList.size()}">
                                    <a href="#" class="list-group-item panel panel-warning" th:href="@{/flow/doc_info/} + ${docOutList[Index].doc.docId}">
                                        <div class="panel-heading">
                                            <h4 class="list-group-item-heading" th:text="${docOutList[Index].doc.numberSign} + ' - ' + ${docOutList[Index].doc.docName}"></h4>
                                        </div>

                                        <div class="panel-body">
                                            <p class="list-group-item-text p-doc" th:text="${docOutList[Index].doc.epitome}"></p>
                                        </div>
                                    </a>
                                </td>

    	                   		<td th:if="${Index} lt ${docOutList.size()}">
                                   <p th:text="${docOutList[Index].duration} + ' ngày'"></p>
                                </td>

                                <td th:if="${Index} lt ${docOutList.size()}">
                                     <p th:text="${docOutList[Index].doc.emergencyLevel.emeName}"></p>   
                                </td>
    	                   </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
    <script>
        var totalPageRelease = $('#total-page-release').attr('data');
        $('#contain-release').html($('#contain-release-1').html());

        $('#page-selection-release').bootpag({
        	total : totalPageRelease,
        	page : 1,
        	maxVisible : 10
        }).on("page", function(event, num){
        	var idShow = '#contain-release-' + num;
            $("#contain-release").html($(idShow).html()); // some ajax contain-release loading...
            $("#contain-release").removeClass('hidden');
            var tableShow = "#table-release-" + num;
            $(tableShow).sort_table({
                "action" : "init"
            });
        });

        $("#table-release-1").sort_table({
            "action" : "init"
        });
    </script>
</div>
</body>
</html>