<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="panel panel-default" th:if="${isReport}" th:fragment="report">
		<div class="panel-heading"><h4>Báo cáo nhiệm vụ</h4></div>
		<div class="panel-body">
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#tempReport" id="btnTempReport">
				Báo cáo sơ bộ
			</button>

			<a type="button" class="btn btn-warning" href="#" th:href="@{/flow/create_report}">Tạo file báo cáo</a>
				
			<a type="button" class="btn btn-success" href="#" th:href="@{/flow/complete_report}">Hoàn thành</a>
		</div>

		<div class="modal fade" id="tempReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Báo cáo sơ bộ</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" th:action="@{/flow/send_report}" method="post" autocompleted="off">
							<div class="form-group">
								<label for="report" class="col-sm-2 control-label">Nội dung báo cáo</label>
								<div class="col-sm-10">
									<textarea class="form-control" rows="10" autofocus="true" maxlength="1200" placeholder="Nội dung" th:name="report" id="report"></textarea>
								</div>
							</div>

							<div class="form-group">
								<label for="progress-value" class="col-sm-2 control-label">Tiến độ dự kiến</label>
								<div class="col-sm-10">
									<input type="number" id="amount" value="" class="form-control" style="text-align:center" th:name="progressValue" min="0" max="100" />
									<div id="v-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false" style="height:15px">
										<div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="height: 20%;">

										</div>
										<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 20%;height:20px"></a>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Lưu</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>