<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container-fuild panel panel-info" th:fragment="search">
	<div class="panel-heading">
		<div class="btn-group btn-search-group">
			<button type="button" class="btn btn-info dropdown-toggle btn-search-group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Lựa chọn tìm kiếm<span class="caret"></span>
			</button>
			<ul class="dropdown-menu btn-search-group" id="search-menu">
				<li class="menu disabled">
					<a role="button" data-toggle="collapse" href="#searchDocOut" aria-expanded="false" aria-controls="searchDocOut">Văn bản đi</a>
				</li>
				
				<li class="menu">
					<a role="button" data-toggle="collapse" href="#searchNumberSign" aria-expanded="false" aria-controls="searchNumberSign">Văn bản đến</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="panel-body">

		<!-- Search Doc Out -->
		<div class="panel panel-primary collapse in menu-content" id="searchDocOut">
			<div class="panel-heading">
				<h4 class="panel-title">Văn bản đi</h4>
			</div>
			<div class="panel-body">
				<form th:action="@{/store/search_doc_out/0}" method="get" autocomplete="off" class="search-form">

					<div class="form-group">
						<label for="docName" class="control-label">Tên văn bản</label>
						<input class="form-control" th:name="docName" id="docName" placeholder="Nhập tên văn bản" autofocus="true"></input>
					</div>

					<div class="form-group">
						<label for="deparment" class="control-label">Trích yếu</label>
						<textarea class="form-control" rows="5" th:name="epitome" id="epitome" placeholder="Nhập nội dung trích yếu"></textarea>
					</div>

					<div class="form-group">
						<label for="docType" class="control-label">Loại văn bản</label>
						<select class="form-control" id="docType"  th:name="docTypeId">
							<option value="-1">Chọn loại văn bản</option>
							<option th:each="docType : ${docTypeList}"
								th:value="${docType.docTypeId}"
								th:text="${docType.docTypeName}"
								th:attr="class=${docType.shortName}">
							</option>
						</select>
					</div>
					<div class="hidden" th:if="${organ}" th:text="${organ.organType.shortName}" id="organType"></div>

					<!-- numberSign -->
					<div class="form-group">
						<label for="number" class="control-label">Số và ký hiệu</label>
		
						<div class="form-inline">
							<input type="text" class="form-control" id="number" th:name="number" placeholder="Số văn bản"/>
							<input type="text" class="form-control" id="numberSign" th:name="numberSign" disabled="true"/>
							<input type="text" class="form-control" id="department" th:name="department" value="" placeholder="Bộ phận tham mưu"/>
						</div>
					
					</div>

					<div class="panel-footer">
						<button type="submit" data-loading-text="Đang tìm..." class="btn btn-primary btn-search">Tìm</button>
					</div>

				</form>
			</div>
		</div>

	</div>
</div>
</body>
</html>