<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container-fuild panel panel-info" th:fragment="search">
	<div class="panel-heading">
		<div class="btn-group btn-search-group">
			<button type="button" class="btn btn-info dropdown-toggle btn-search-group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Lựa chọn tìm kiếm<span class="caret"></span>
			</button>
			<ul class="dropdown-menu btn-search-group" id="search-menu">
				<li class="menu">
					<a role="button" data-toggle="collapse" href="#searchDocOut" aria-expanded="false" aria-controls="searchDocOut">Văn bản đi</a>
				</li>
				
				<li class="menu">
					<a role="button" data-toggle="collapse" href="#searchDocIn" aria-expanded="false" aria-controls="searchDocIn">Văn bản đến</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="panel-body">

		<!-- Search Doc Out -->
		<div class="panel panel-primary collapse in menu-content" id="searchDocOut">
			<div class="panel-heading">
				<h4 class="panel-title">Văn bản đi</h4>
			</div>
			<div class="panel-body">
				<form th:action="@{/store/search_doc_out}" method="post" autocomplete="off" class="search-form">

					<div class="form-group">
						<label for="docNameOut" class="control-label">Tên văn bản</label>
						<input class="form-control" th:name="docName" id="docNameOut" placeholder="Nhập tên văn bản" autofocus="true"></input>
					</div>

					<div class="form-group">
						<label for="docNameOut" class="control-label">Trích yếu</label>
						<textarea class="form-control" rows="5" th:name="epitome" id="docNameOut" placeholder="Nhập nội dung trích yếu"></textarea>
					</div>

					<div class="form-group">
						<label for="docTypeOut" class="control-label">Loại văn bản</label>
						<select class="form-control" id="docTypeOut"  th:name="docTypeId">
							<option value="-1">Chọn loại văn bản</option>
							<option th:each="docType : ${docTypeList}"
								th:value="${docType.docTypeId}"
								th:text="${docType.docTypeName}"
								th:attr="class=${docType.shortName}">
							</option>
						</select>
					</div>
					<div class="hidden" th:if="${organ}" th:text="${organ.organType.shortName}" id="organTypeOut"></div>

					<!-- numberSign -->
					<div class="form-group">
						<label for="numberOut" class="control-label">Số và ký hiệu</label>
		
						<div class="form-inline">
							<input type="text" class="form-control" id="numberOut" th:name="number" placeholder="Số văn bản"/>
							<input type="text" class="form-control" id="numberSignOut" th:name="numberSign" placeholder="Ký hiệu văn bản"/>
							<input type="text" class="form-control" id="departmentOut" th:name="department" value="" placeholder="Bộ phận tham mưu"/>
						</div>
					</div>

					<!-- minDay -->
					<div class="form-group">
						<label for="minDayOut" class="control-label">Ban hành từ ngày</label>
						<div class="input-group date form_date date-start" data-date="" data-date-format="dd MM yyyy" data-link-field="minDayOut" data-link-format="dd-mm-yyyy">
						<input class="form-control" size="16" type="text" value="" th:name="minDay" id="minDayOut"/>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>

					<!-- maxDay -->
					<div class="form-group">
						<label for="maxDayOut" class="control-label">Đến ngày</label>
						<div class="input-group date form_date date-start" data-date="" data-date-format="dd MM yyyy" data-link-field="maxDayOut" data-link-format="dd-mm-yyyy">
						<input class="form-control" size="16" type="text" value="" th:name="maxDay" id="maxDayOut"/>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>

					<div class="panel-footer">
						<button type="submit" data-loading-text="Đang tìm..." class="btn btn-primary btn-search">Tìm</button>
						<button type="button" class="btn btn-success btn-reset-out">Làm mới</button>
					</div>

				</form>
			</div>
		</div>

		<!-- Search Doc In -->
		<div class="panel panel-primary collapse menu-content" id="searchDocIn">
			<div class="panel-heading">
				<h4 class="panel-title">Văn bản đến</h4>
			</div>
			<div class="panel-body">
				<div>
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#originDocTab" aria-controls="originDocTab" role="tab" data-toggle="tab">Thông tin gốc</a></li>
						<li role="presentation"><a href="#receiveDocTab" aria-controls="receiveDocTab" role="tab" data-toggle="tab">Thông tin nhận</a></li>
					</ul>
				</div>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="originDocTab">
						<form th:action="@{/store/search_doc_in}" method="post" autocomplete="off" class="search-form">

							<div class="form-group">
								<label for="docNameIn" class="control-label">Tên văn bản</label>
								<input class="form-control" th:name="docName" id="docNameIn" placeholder="Nhập tên văn bản" autofocus="true"></input>
							</div>

							<div class="form-group">
								<label for="epitomeIn" class="control-label">Trích yếu</label>
								<textarea class="form-control" rows="5" th:name="epitome" id="epitomeIn" placeholder="Nhập nội dung trích yếu"></textarea>
							</div>

							<div class="form-group">
								<label for="docTypeIn" class="control-label">Loại văn bản</label>
								<select class="form-control" id="docTypeIn"  th:name="docTypeId">
									<option value="-1">Chọn loại văn bản</option>
									<option th:each="docType : ${docTypeList}"
										th:value="${docType.docTypeId}"
										th:text="${docType.docTypeName}"
										th:attr="class=${docType.shortName}">
									</option>
								</select>
							</div>

							<div class="form-group">
								<label for="organTypeId" class="control-label">Cấp cơ quan ban hành</label>
								<select class="form-control" id="organTypeId"  th:name="organTypeId">
									<option value="-1">Chọn loại cơ quan</option>
									<option th:each="organType : ${organTypeList}"
										th:value="${organType.organTypeId}"
										th:text="${organType.organTypeName}"
										th:attr="class=${organType.shortName}">
									</option>
								</select>
							</div>

							<!-- numberSign -->
							<div class="form-group">
								<label for="numberIn" class="control-label">Số và ký hiệu</label>

								<div class="form-inline">
									<input type="text" class="form-control" id="numberIn" th:name="number" placeholder="Số văn bản"/>
									<input type="text" class="form-control" id="numberSignIn" th:name="numberSign" placeholder="Ký hiệu văn bản"/>
									<input type="text" class="form-control" id="departmentIn" th:name="department" value="" placeholder="Bộ phận tham mưu"/>
								</div>
							</div>

							<!-- minDay -->
							<div class="form-group">
								<label for="minDayIn" class="control-label">Ban hành từ ngày</label>
								<div class="input-group date form_date date-start" data-date="" data-date-format="dd MM yyyy" data-link-field="minDayIn" data-link-format="dd-mm-yyyy">
									<input class="form-control" size="16" type="text" value="" th:name="minDay" id="minDayIn"/>
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>

							<!-- maxDay -->
							<div class="form-group">
								<label for="maxDayIn" class="control-label">Đến ngày</label>
								<div class="input-group date form_date date-start" data-date="" data-date-format="dd MM yyyy" data-link-field="maxDayIn" data-link-format="dd-mm-yyyy">
									<input class="form-control" size="16" type="text" value="" th:name="maxDay" id="maxDayIn"/>
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>

							<div class="panel-footer">
								<button type="submit" data-loading-text="Đang tìm..." class="btn btn-primary btn-search">Tìm</button>
								<button type="button" class="btn btn-success btn-reset-in">Làm mới</button>
							</div>
						</form>
					</div>

					<div role="tabpanel" class="tab-pane" id="receiveDocTab">
						<form th:action="@{/store/search_doc_in}" method="post" autocpmplete="off" class="search-form">
							<!-- number receive -->
							<div class="form-group">
								<label for="numberRec" class="control-label">Số tiếp nhận</label>
								<input type="text" class="form-control" id="numberRec" th:name="numberRec" autofocus="true" placeholder="Số văn bản"/>
							</div>

							<!-- minDay -->
							<div class="form-group">
								<label for="minDayRec" class="control-label">Nhận từ ngày</label>
								<div class="input-group date form_date date-start" data-date="" data-date-format="dd MM yyyy" data-link-field="minDayRec" data-link-format="dd-mm-yyyy">
									<input class="form-control" size="16" type="text" value="" th:name="minDayRec" id="minDayRec"/>
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>

							<!-- maxDay -->
							<div class="form-group">
								<label for="maxDayRec" class="control-label">Đến ngày</label>
								<div class="input-group date form_date date-start" data-date="" data-date-format="dd MM yyyy" data-link-field="maxDayRec" data-link-format="dd-mm-yyyy">
									<input class="form-control" size="16" type="text" value="" th:name="maxDayRec" id="maxDayRec"/>
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>

							<div class="panel-footer">
								<button type="submit" data-loading-text="Đang tìm..." class="btn btn-primary btn-search">Tìm</button>
								<button type="button" class="btn btn-success btn-reset-in">Làm mới</button>
							</div>
						</form>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>
</body>
</html>