<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<div>
		<div class="list-group doc-group" th:if="${out}">
			<div th:each="doc : ${docList}" class="doc">
				<a href="#" class="list-group-item list-group-item-success" th:href="@{/flow/doc_info/} + ${doc.docId}">
					<h4 class="list-group-item-heading" th:text="${doc.numberSign} + ' - ' + ${doc.docName}"></h4>
					<p class="list-group-item-text p-doc" th:text="${doc.epitome}"></p>
				</a>
			</div>
		</div>

		<div class="list-group doc-group" th:if="${in}">
			<div th:each="docRec : ${docList}" class="doc">
				<a href="#" class="list-group-item list-group-item-success" th:href="@{/flow/doc_in_info/} + ${docRec.document.docId}">
					<h4 class="list-group-item-heading" th:text="${docRec.number} + ' - ' + ${docRec.receiveTime} + ' - ' + ${docRec.document.docName}" th:if="${docRec.number}"></h4>

					<p class="list-group-item-text p-doc" th:text="${docRec.document.epitome}"></p>
				</a> 
			</div>
		</div>

		<!-- <nav th:if="${docList.size() > 10}">
			<ul class="pager">
				<li class="previous disabled"><a href="#"><span
					aria-hidden="true">&larr;</span> Cũ</a>
				</li>

				<li><span>1</span></li>
				
				<li class="next"><a href="#">Mới <span
						aria-hidden="true">&rarr;</span></a>
				</li>
			</ul>
		</nav> -->
	</div>
</body>
</html>