<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div th:fragment="wait_element">
	<div id="content"></div>
	<div id="page-selection" th:if="${rowList.size() > 1}"></div>
	<div class="hidden" id="totalPage" th:attr="data=${rowList.size()}"></div>

	<!-- List document out -->
	<div th:each="row : ${rowList}" th:attr="id='content-' + (${row}  + 1)" class="hidden list-group doc-group" th:if="${out}">
		<div th:each="elem : ${elemList}" th:with="Index=${row} * ${elemList.size()} + ${elem}" class="doc">
			<a href="#" class="list-group-item panel panel-warning" th:href="@{/flow/doc_info/} + ${docList[Index].doc.docId}" th:if="${Index} lt ${docList.size()}">
				<div class="panel-heading">
					<h4 class="list-group-item-heading" th:text="${docList[Index].doc.numberSign} + ' - ' + ${docList[Index].doc.docName}"></h4>
				</div>

				<div class="panel-body">
					<p class="list-group-item-text p-doc" th:text="${docList[Index].doc.epitome}"></p>
				</div>

				<ul class="list-group">
					<li class="list-group-item" th:if="${docList[Index].assignee}">
						<span>Người giữ quyền : </span>
						<strong th:text="${docList[Index].assignee.userDetail} ? 
							${docList[Index].assignee.userDetail.fullName} + ' - ' + ${docList[Index].assignee.level.levelName} : 
							${docList[Index].assignee.userName} + ' - ' + ${docList[Index].assignee.level.levelName}">
						</strong>
					</li>
					<li class="list-group-item" th:unless="${docList[Index].assignee}">
						<strong>Đã hoàn thành, chưa gửi</strong>
					</li>
					<li class="list-group-item" th:if="${docList[Index].duration >= 0}">
						<span>Thời gian chờ :</span>
						<strong th:text="${docList[Index].duration}"></strong> ngày
					</li>
				</ul>
			</a>
		</div>
	</div>

	<!-- List document in -->
	<div th:each="row : ${rowList}" th:attr="id='content-' + (${row}  + 1)" class="hidden list-group doc-group" th:if="${in}">
		<div th:each="elem : ${elemList}" th:with="Index=${row} * ${elemList.size()} + ${elem}" class="doc">
			<a href="#" class="list-group-item panel panel-info" th:href="@{/flow/doc_in_info/} + ${docList[Index].docRec.document.docId}" th:if="${Index} lt ${docList.size()}">
				<div class="panel-heading">
					<h4 class="list-group-item-heading" th:text="'Nhận số : ' + ${docList[Index].docRec.number} + ' - ' + ${docList[Index].docRec.getReceiveTimeString()}" th:if="${docList[Index].docRec.number}"></h4>
					<h4 class="list-group-item-heading" th:unless="${docList[Index].docRec.number}">Chưa tiếp nhận</h4>
					<h4 class="list-group-item-heading" th:text="'Đến số : ' + ${docList[Index].docRec.document.numberSign} + ' : ' + ${docList[Index].docRec.document.docName}"></h4>
				</div>

				<div class="panel-body">
					<p class="list-group-item-text p-doc" th:text="${docList[Index].docRec.document.epitome}"></p>
				</div>

				<ul class="list-group">
					<li class="list-group-item" th:if="${docList[Index].assignee}">
						<span>Người giữ quyền : </span>
						<strong th:text="${docList[Index].assignee.userDetail} ? 
							${docList[Index].assignee.userDetail.fullName} + ' - ' + ${docList[Index].assignee.level.levelName} : 
							${docList[Index].assignee.userName} + ' - ' + ${docList[Index].assignee.level.levelName}">
						</strong>
					</li>
					<li class="list-group-item" th:if="${docList[Index].duration >= 0}">
						<span>Thời gian chờ :</span>
						<strong th:text="${docList[Index].duration}"></strong> ngày
					</li>
				</ul>
			</a> 
		</div>
	</div>

	<script>
		var totalPage = $('#totalPage').attr('data');
		$('#content').html($('#content-1').html());

		$('#page-selection').bootpag({
			total : totalPage,
			page : 1,
			maxVisible : 10
		}).on("page", function(event, num){
			var idShow = '#content-' + num;
            	$("#content").html($(idShow).html()); // some ajax content loading...
            	$("#content").removeClass('hidden');
            });
	</script>
</div>
</body>
</html>