<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Test2</title>

	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>
		
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

	<script type="text/javascript" th:src="@{/js/jquery.table-sort.js}" ></script>

	<script type="text/javascript" th:src="@{/js/jquery.bootpag.min.js}" ></script>
</head>
<body>
<div th:fragment="test_task">
    <div class="container-fluid">
    	<div id="contain-test"></div>
    	<div id="page-selection-test"></div>
    	<div class="hidden" id="total-page-test" th:attr="data=${rowList.size()}"></div>

        <div th:each="row : ${rowList}" th:attr="id='contain-test-' + (${row}  + 1)" class="hidden row">
            <div>
                <table class="table sort_table" th:attr="id='table-test-' + (${row}  + 1)">
                    <thead>
                        <tr>
                            <th>Văn bản</th>
                            <th>Thời gian chờ</th>
                            <th>Mức độ khẩn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  th:each="elem : ${elemList}" th:with="Index=${row} * ${elemList.size()} + ${elem}" >
                          <div th:if="${Index} lt ${testList.size()}">
                            <td>
                                <a href="#" class="panel panel-warning">
                                    <div class="panel-heading">
                                       <h4 th:text="${Index}"></h4>
                                    </div>
                                </a>
                            </td>

                            <td>
                                <p th:text="${testList[Index]}"></p>
                            </td>
                        </div>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
    <script>
        var totalPagetest = $('#total-page-test').attr('data');
        $('#contain-test').html($('#contain-test-1').html());

        $('#page-selection-test').bootpag({
        	total : totalPagetest,
        	page : 1,
        	maxVisible : 10
        }).on("page", function(event, num){
        	var idShow = '#contain-test-' + num;
            $("#contain-test").html($(idShow).html()); // some ajax contain-test loading...
            $("#contain-test").removeClass('hidden');
            var tableShow = "#table-test-" + num;
            $(tableShow).sort_table({
                "action" : "init"
            });
        });

        $("#table-test-1").sort_table({
            "action" : "init"
        });
    </script>
</div>
</body>
</html>