<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trang chủ</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Latest compiled and minified CSS -->

<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>

<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}" />

<!-- calendar -->
<link rel="stylesheet" href="#" th:href="@{/css/fullcalendar.min.css}" />

<script type="text/javascript" th:src="@{/js/moment.min.js}" ></script>

<script type="text/javascript" th:src="@{/js/fullcalendar.min.js}" ></script>

<script type="text/javascript" th:src="@{/js/vi.js}" ></script>

<script type="text/javascript" th:src="@{/js/my-calendar.js}" ></script>
</head>
<body>
	<h4 th:text="${from}"></h4>
	<h4 th:text="${to}"></h4>
	<h4 th:text="${subject}"></h4>
	<h4 th:text="${text}"></h4>
</body>
</html>
