<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Tạo văn bản đi</title>

	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>

	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />

	<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/create-doc-out.js}" ></script>

</head>
<body>
<div class="container-fluid">
	<div th:replace="fragment/menu :: menu"></div>
	<div class="container">
		<form class="form-horizontal" th:action="@{/flow/save_doc_out}  + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" autocomplete="off" enctype="multipart/form-data">

			<!-- title -->
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Tiêu đề</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="title" th:name="title" value="" required="true"/>
				</div>
			</div>
			
			<!-- docName -->
			<div class="form-group">
				<label for="docName" class="col-sm-2 control-label">Tên văn bản</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="docName" th:name="docName" value="" required="true"/>
				</div>
			</div>
			
			<!-- epitome -->
			<div class="form-group">
				<label for="epitome" class="col-sm-2 control-label">Trích yếu</label>
				<div class="col-sm-10">
					<textarea class="form-control" rows="7" maxlength="450" placeholder="Nội dung tóm tắt" required="true" th:name="epitome"></textarea>
				</div>
			</div>

			<!-- typeId -->
			<div class="form-group">
				<label for="docType" class="col-sm-2 control-label">Loại văn bản</label>
				<div class="col-sm-10">
					<select class="form-control" id="docType"  th:name="docTypeId" required="true">
						<option th:each="docType : ${docTypeList}"
								th:value="${docType.docTypeId}"
								th:text="${docType.docTypeName}"
								th:attr="class=${docType.shortName}">
						</option>
					</select>
				</div>
			</div>

			<!-- tenureId -->
			<div class="form-group">
				<label for="tenure" class="col-sm-2 control-label">Nhiệm kỳ</label>
				<div class="col-sm-10">
					<select class="form-control" id="tenure"  th:name="tenureId" required="true">
						<option th:each="tenure : ${tenureList}"
								th:value="${tenure.tenureId}"
								th:text="${tenure.tenureName}">
						</option>
					</select>
				</div>
			</div>

			<!-- numberSign -->
			<div class="form-group">
				<label for="number" class="col-sm-2 control-label">Số và ký hiệu</label>
				<div class="col-sm-10">
					<div class="form-inline">
						<input type="text" class="form-control" id="number" th:name="number" required="true"/>
						<input type="text" class="form-control" id="numberSign" th:name="numberSign" value="" required="true"/>
						<input type="text" class="form-control" id="departments" th:name="departments" value="" required="true" placeholder="Bộ phận tham mưu"/>
						<button type="button" id="btnAutoGeneratedNumber" th:attr="data=@{/flow/number}" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">Tự động</button>
					</div>
				</div>
			</div>

			<!-- organ -->
			<div class="form-group">
				<label for="organ" class="col-sm-2 control-label">Đơn vị ban hành</label>
				<div class="col-sm-10" style="margin-top : 7px;">
					<p th:text="${organ.organName}" id="organ" th:attr="class=${organ.organType.shortName}"></p>
					<p th:text="${organ.organId}" id="organId" class="hidden"></p>
				</div>
			</div>

			<!-- file -->
			<div class="form-group">
				<label for="file" class="col-sm-2 control-label">Tập tin tải lên</label>
				<div class="col-sm-10" style="margin-top:10px;">
					<input type="file" id="file" th:name="file" required="true"/>
					<p class="help-block"></p>
				</div>
			</div>

			<!-- privacyId -->
			<div class="form-group">
				<label for="privacyId" class="col-sm-2 control-label">Mức độ mật</label>
				<div class="col-sm-10">
					<select class="form-control" id="privacyId"  th:name="privacyId" required="true">
						<option th:each="privacy : ${privacyList}"
								th:value="${privacy.privacyId}"
								th:text="${privacy.privacyName}">
						</option>
					</select>
				</div>
			</div>

			<!-- emeId -->
			<div class="form-group">
				<label for="emeId" class="col-sm-2 control-label">Mức độ khẩn</label>
				<div class="col-sm-10">
					<select class="form-control" id="emeId"  th:name="emeId" required="true">
						<option th:each="eme : ${emeList}"
								th:value="${eme.emeId}"
								th:text="${eme.emeName}">
						</option>
					</select>
				</div>
			</div>

			<!-- submit -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info">Tạo văn bản</button>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragment/footer :: footer"></div>
</div>
</body>
</html>