<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Tạo văn bản</title>

	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

	<!-- Latest compiled and minified JavaScript -->
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" /> -->

	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />

	<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/create-new-doc.js}" ></script>

</head>
<body>
<div class="container-fluid">
	<div th:replace="fragment/menu :: menu"></div>
	<div class="container">
		<form class="form-horizontal" th:action="@{/impl/create_new_doc}  + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" autocomplete="off" enctype="multipart/form-data">
			<!-- docName -->
			<div class="form-group">
				<label for="docName" class="col-sm-2 control-label">Tên văn bản</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="docName" th:name="docName" value="" required="true"/>
				</div>
			</div>

			<!-- title -->
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Tiêu đề</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="title" th:name="title" value="" required="true"/>
				</div>
			</div>

			<!-- releaseTime -->
<!-- 			<div class="form-group">
				<label for="releaseTime" class="col-sm-2 control-label">Ngày ban hành</label>
				<div class="input-group date form_date col-sm-10" style="padding-left:15px; padding-right:15px;" data-date="" data-date-format="dd MM yyyy" data-link-field="releaseTime" data-link-format="yyyy-mm-dd">
					<input class="form-control" size="16" type="text" value="" readonly="true" th:name="releaseTime" required="true"/>
					<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
				<input type="hidden" id="releaseTime" value="" required="true"/><br/>
			</div>
 -->
			<!-- epitome -->
			<div class="form-group">
				<label for="epitome" class="col-sm-2 control-label">Trích yếu</label>
				<div class="col-sm-10">
					<textarea class="form-control" rows="7" maxlength="450" placeholder="Nội dung tóm tắt" required="true" th:name="epitome"></textarea>
				</div>
			</div>

			<!-- typeId -->
			<div class="form-group">
				<label for="typeId" class="col-sm-2 control-label">Loại văn bản</label>
				<div class="col-sm-10">
					<select class="form-control" id="typeId"  th:name="typeId" required="true">
						<option th:each="type : ${typeList}"
								th:value="${type.typeId}"
								th:text="${type.typeName}"
								th:attr="class=${type.shortName}">
						</option>
					</select>
				</div>
			</div>

			<!-- privacyId -->
			<div class="form-group">
				<label for="privacyId" class="col-sm-2 control-label">Mức độ mật</label>
				<div class="col-sm-10">
					<select class="form-control" id="privacyId"  th:name="privacyId" required="true">
						<option th:each="privacy : ${privacyList}"
								th:value="${privacy.privacyId}"
								th:text="${privacy.privacyName}">
						</option>
					</select>
				</div>
			</div>

			<!-- emeId -->
			<div class="form-group">
				<label for="emeId" class="col-sm-2 control-label">Mức độ khẩn</label>
				<div class="col-sm-10">
					<select class="form-control" id="emeId"  th:name="emeId" required="true">
						<option th:each="eme : ${emeList}"
								th:value="${eme.emeId}"
								th:text="${eme.emeName}">
						</option>
					</select>
				</div>
			</div>

			<!-- recipientUnits -->
			<div class="form-group">
				<label for="recipientUnits" class="col-sm-2 control-label">Đơn vị nhận</label>
				<div class="col-sm-10">
					<select class="form-control" id="recipientUnits"  th:name="recipientUnits" multiple="true" required="true">
						<option th:each="unit : ${unitList}"
								th:value="${unit.unitId}"
								th:text="${unit.unitName}">
						</option>
					</select>
				</div>
			</div>

			<!-- file -->
			<div class="form-group">
				<label for="file" class="col-sm-2 control-label">Tập tin tải lên</label>
				<div class="col-sm-10" style="margin-top:10px;">
					<input type="file" id="file" th:name="file" required="true"/>
					<p class="help-block"></p>
				</div>
			</div>

			<!-- tenureId -->
			<div class="form-group">
				<label for="tenureId" class="col-sm-2 control-label">Nhiệm kỳ</label>
				<div class="col-sm-10">
					<select class="form-control" id="tenureId"  th:name="tenureId" required="true">
						<option th:each="tenure : ${tenureList}"
								th:value="${tenure.tenureId}"
								th:text="${tenure.tenureName}">
						</option>
					</select>
				</div>
			</div>

			<!-- unitId -->
			<div class="form-group">
				<label for="unitId" class="col-sm-2 control-label">Đơn vị ban hành</label>
				<div class="col-sm-10" style="margin-top : 7px;">
					<p th:text="${unit.unitName}" id="unitId" th:attr="class=${unit.shortName}"></p>
				</div>
			</div>

			<!-- organ -->
			<div class="form-group">
				<label for="organId" class="col-sm-2 control-label">Cơ quan ban hành</label>
				<div class="col-sm-10" style="margin-top : 7px;">
					<p th:text="${organ.organName}" id="organId" th:attr="class=${organ.shortName}"></p>
				</div>
			</div>

			<!-- numberSign -->
			<div class="form-group">
				<label for="numberSign" class="col-sm-2 control-label">Số và ký hiệu</label>
				<div class="col-sm-10">
					<div class="input-group">
						<input type="text" class="form-control" id="numberSign" th:name="numberSign" value="" required="true"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" id="btnAutoGeneratedNumber">Tự động</button>
						</span>
					</div>
				</div>
			</div>

			<!-- submit -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info">Tạo văn bản</button>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragment/footer :: footer"></div>
</div>
</body>
</html>