<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Thông tin văn bản</title>

	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

	<!-- Latest compiled and minified JavaScript -->
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<style type="text/css">
		.p-doc {
			max-height: 80px;
			overflow: auto;
		}

		#table-change th, #table-change td { 
			border-top: none !important; 
		}

	</style>

	<script type="text/javascript">
		$( document ).ready(function() {
			$('#doc-form').toggle();
		});

		function toggleDocForm(){
			$('#doc-info').toggle();
			$('#doc-form').toggle();
		}
	</script>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragment/menu :: menu"></div>
		<table class="table">
		<colgroup>
			<!-- <col class="col-xs-3 col-md-1" />
			<col class="col-xs-12 col-md-10" />
			<col class="col-xs-3 col-md-1" /> -->
		</colgroup>
		<tbody>
		<!-- Container -->
			<tr>
				<td></td>
				<td>
					<!-- View info-->
					<div class="panel panel-default" id="doc-info">
						<div class="panel-heading">
							
								<button type="button" class="btn btn-warning">Nhận quyền</button>
								<button type="button" class="btn btn-info" onclick="toggleDocForm();">Sửa đổi</button>
								<button type="button" class="btn btn-success">Hoàn thành</button>
								<button type="button" class="btn btn-danger navbar-right">Trả quyền</button>
							
						</div>
						<div class="panel-body">
							<table class="table" id="table-info">
								<colgroup>
									<col class="col-xs-5 col-md-3" />
									<col class="col-xs-10 col-md-8" />
									<col class="col-xs-3 col-md-1" />
								</colgroup>
								<tbody>
									<th>
										<h3>Thông Tin Văn Bản</h3>
									</th>
									<th></th>
									<tr>
										<th scope="row">
											<h4><span class="label label-primary">Tiêu đề : </span></h4>
										</th>
										<td>
											<h4>Thông tư số 01/2011/TT-BNV</h4>
										</td>
									</tr>

									<tr>
										<th scope="row">
											<h4><span class="label label-primary">Trích yếu : </span></h4>
										</th>
										<td>
											<p class="list-group-item-text p-doc">Ngày 30/12/2010:
												Telegraph tiếp tục đưa tin "Bên trong hang động khổng lồ rừng
												nhiệt đới". Hang Sơn Đoòng lớn đến nỗi có thể chứa một tòa nhà
												cao 40 tầng, thuộc Vườn quốc gia Phong Nha - Kẻ Bàng. Kèm theo
												bài viết là bức hình của nhiếp ảnh gia Carsten Peter chụp bên
												trong Sơn Đoòng trên tạp chí National Geographic.
											</p>
										</td>
									</tr>

									<tr>
										<th scope="row">
											<h4><span class="label label-primary">Ngày ban hành : </span></h4>
										</th>
										<td>
											<h4>14/05/1992</h4>
										</td>
									</tr>

									<tr>
										<th scope="row">
											<h4><span class="label label-primary">Đơn vị ban hành : </span></h4>
										</th>
										<td>
											<h4>VPĐ ĐH CNTT</h4>
										</td>
									</tr>

									<tr>
										<th scope="row">
											<h4><span class="label label-primary">Mức độ mật : </span></h4>
										</th>
										<td>
											<h4 id="conf-data">Mức độ 1</h4>
										</td>
									</tr>

									<tr>
										<th scope="row">
											<h4><span class="label label-primary">Mức độ khẩn : </span></h4>
										</th>
										<td>
											<h4 id="eme-data">Mức độ 1</h4>
										</td>
									</tr>

									<tr>
										<th scope="row">
											<h4><span class="label label-primary">Tập tin : </span></h4>
										</th>
										<td>
											<div>
												<h4>D:/Khoa_Luan_Tot_Nghiep.docx</h4>
												<button type="button" class="btn btn-primary">Tải xuống <span class="glyphicon glyphicon-download"></span></button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- Change info-->
					<div class="panel panel-default" id="doc-form">
						<div class="panel-heading"></div>
						<div class="panel-body">
							<form method="post">
								<div class="form-group">
									<table class="table" id="table-change">
										<colgroup>
											<col class="col-xs-5 col-md-3" />
											<col class="col-xs-10 col-md-8" />
											<col class="col-xs-3 col-md-1" />
										</colgroup>
										<tbody>
											<th>
												<h3>Thông Tin Văn Bản</h3>
											</th>
											<th></th>
											<th></th>
											<tr>
												<th scope="row">
													<h4><span class="label label-primary">Tiêu đề : </span></h4>
												</th>
												<td>
													<h4><input type="text" class="form-control" value="Thông tư số 01/2011/TT-BNV"/></h4>
												</td>
											</tr>

											<tr>
												<th scope="row">
													<h4><span class="label label-primary">Trích yếu : </span></h4>
												</th>
												<td>
													<textarea class="form-control" rows="5">Ngày 30/12/2010: Telegraph tiếp tục đưa tin "Bên trong hang động khổng lồ rừng nhiệt đới". Hang Sơn Đoòng lớn đến nỗi có thể chứa một tòa nhà cao 40 tầng, thuộc Vườn quốc gia Phong Nha - Kẻ Bàng. Kèm theo bài viết là bức hình của nhiếp ảnh gia Carsten Peter chụp bên trong Sơn Đoòng trên tạp chí National Geographic.
													</textarea>
												</td>
											</tr>

											<tr>
												<th scope="row">
													<h4><span class="label label-primary">Ngày ban hành : </span></h4>
												</th>
												<td>
													<h4><input type="text" class="form-control" value="14/05/1992"/></h4>
												</td>
											</tr>

											<tr>
												<th scope="row">
													<h4><span class="label label-primary">Đơn vị ban hành : </span></h4>
												</th>
												<td>
													<h4><input type="text" class="form-control" value="VPĐ ĐH CNTT"/></h4>
												</td>
											</tr>

											<tr>
												<th scope="row">
													<h4><span class="label label-primary">Mức độ mật : </span></h4>
												</th>
												<td>
													<select class="form-control" data-style="btn-primary">
														<option>Mức độ 1</option>
														<option>Mức độ 2</option>
														<option>Mức độ 3</option>
													</select>
												</td>
											</tr>

											<tr>
												<th scope="row">
													<h4><span class="label label-primary">Mức độ khẩn : </span></h4>
												</th>
												<td>
													<select class="form-control" data-style="btn-primary" data-target="#eme-data">
														<option>Mức độ 1</option>
														<option>Mức độ 2</option>
														<option>Mức độ 3</option>
													</select>
												</td>
											</tr>

											<tr>
												<th scope="row">
													<h4><span class="label label-primary">Tập tin : </span></h4>
												</th>	

												<td>
													<div class="form-group" style="margin-top:10px;">
														<input type="file"/>
														<p class="help-block"></p>
													</div>	
												</td>
											</tr>

											<tr>
												<td>
												</td>
												<td>
													<nav>
														<button type="submit" class="btn btn-success">Cập nhật</button>
														<button type="button" class="btn btn-warning" onclick="toggleDocForm();">Bỏ qua</button>
													</nav>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>

				</td>
				<td></td>
			</tr>
		<!-- Container -->
		</tbody>
	</table>
<div th:replace="fragment/footer :: footer"></div>
</div>
</body>
</html>