<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Thông tin văn bản đi</title>

	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>

	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

	<script type="text/javascript" th:src="@{/js/doc-info.js}" ></script>

	<style type="text/css">
		.p-doc {
			max-height: 80px;
			overflow: auto;
		}

		#table-change th, #table-change td { 
			border-top: none !important; 
		}

	</style>

</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragment/menu :: menu"></div>
		<div class="container">
			<!-- Forward -->
			<div th:replace="fragment/forward :: forward"></div>

			<div class="panel panel-default" th:if="${isAccess}">
			 	<div class="panel-body">
					<div>
						<button type="button" id="btnChange" class="btn btn-info" data-toggle="modal" data-target="#doc-form">Sửa đổi</button>
						<a th:unless="${canChoose}" type="button" class="btn btn-success" href="#" th:href="@{/flow/complete/0/doc_info}">Hoàn thành</a>
						<a type="button" class="btn btn-success" th:if="${isCheck}" href="#" th:href="@{/flow/complete/1/doc_info}">Yêu cầu kiểm tra lại</a>
					</div>
				</div>
			</div>

			<!-- Send document -->
			<div th:replace="fragment/send :: send"></div>

			<div class="panel panel-info">
				<div class="panel-heading"><h3>Thông Tin Văn Bản</h3></div>
				<div class="panel-body">
					<h4 th:if="${assignee}"><span class="label label-warning">Người giữ quyền</span>:<span th:text="${assignee}"></span></h4>
					<h4 th:if="${userRole}"><span class="label label-warning">Quyền hạn</span>:<span th:text="${userRole}"></span></h4>
					<h4 th:if="${taskDescription}"><span class="label label-warning">Mô tả</span>:<span th:text="${taskDescription}"></span></h4>
				</div>

				<table class="table table-bordered" id="table-info">
					<colgroup>
						<col class="col-xs-5 col-md-3"/>
						<col class="col-xs-10 col-md-8"/>
						<col class="col-xs-3 col-md-1"/>
					</colgroup>
					<tbody>
						<!-- ID -->
						<tr class="hidden">
							<th scope="row"><h4><span>ID : </span></h4></th>
							<td><h4 th:text="${doc.docId}" class="docId"></h4></td>
						</tr>

						<!-- title -->
						<tr>
							<th scope="row"><h4><span>Tiêu đề : </span></h4></th>
							<td><h4 th:text="${doc.title}" class="title"></h4></td>
						</tr>

						<!-- docName -->
						<tr>
							<th scope="row"><h4><span>Tên văn bản : </span></h4></th>
							<td><h4 th:text="${doc.docName}" class="docName"></h4></td>
						</tr>

						<!-- epitome -->
						<tr>
							<th scope="row"><h4><span>Trích yếu : </span></h4></th>
							<td><h5 th:text="${doc.epitome}" class="epitome"></h5></td>
						</tr>

						<!-- docType -->
						<tr>
							<th scope="row"><h4><span>Loại văn bản : </span></h4></th>
							<td><h4 th:text="${doc.docType.docTypeName}" class="docType" th:attr="data=${doc.docType.docTypeId}"></h4></td>
						</tr>

						<!-- tenure -->
						<tr>
							<th scope="row"><h4><span>Nhiệm kỳ : </span></h4></th>
							<td><h4 th:text="${doc.tenure.tenureName}" class="tenure" th:attr="data=${doc.tenure.tenureId}"></h4></td>
						</tr>

						<!-- numberSign -->
						<tr>
							<th scope="row"><h4><span>Số và ký hiệu : </span></h4></th>
							<td class="hidden"><h4 class="number" th:text="${doc.number}"></h4></td>
							<td><h4 th:text="${doc.numberSign}" class="numberSign"></h4></td>
							<td class="hidden"><h4 class="departments" th:text="${doc.departments}"></h4></td>
						</tr>

						<!-- releaseTime -->
						<tr>
							<th scope="row"><h4><span>Ngày ban hành : </span></h4></th>
							<td><h4 th:text="${doc.releaseTime}" class="releaseTime"></h4></td>
						</tr>

						<!-- privacyLevel -->
						<tr>
							<th scope="row"><h4><span>Mức độ mật : </span></h4></th>
							<td><h4 th:text="${doc.privacyLevel.privacyName}" class="privacyLevel" th:attr="data=${doc.privacyLevel.privacyId}"></h4></td>
						</tr>

						<!-- emergencyLevel -->
						<tr>
							<th scope="row"><h4><span>Mức độ khẩn : </span></h4></th>
							<td><h4 th:text="${doc.emergencyLevel.emeName}" class="emergencyLevel" th:attr="data=${doc.emergencyLevel.emeId}"></h4></td>
						</tr>

						<!-- files -->
						<tr>
							<th scope="row"><h4><span>Tập tin : </span></h4></th>
							<td>
								<!-- Single button -->
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Tải xuống <span class="glyphicon glyphicon-download"></span>
									</button>
									<ul class="dropdown-menu">
										<li th:each="f : ${fileList}" ><a href="#" th:text="'Phiên bản : ' + ${f.version}" th:href="@{/flow/download_document/} + ${f.fileId}"></a></li>
									</ul>
								</div>
							</td>
						</tr>

						<tr th:if="${doc.comment}">
							<th scope="row"><h4><span>Góp ý sửa đổi : </span></h4></th>
							<td><textarea class="form-control comment" rows="8" maxlength="1500" th:text="${doc.comment}" disabled="true"></textarea></td>
						</tr>
					</tbody>			
				</table>
			</div>			
		</div>	
		<div th:replace="fragment/footer :: footer"></div>
	</div>

	<div th:replace="fragment/doc-out-form :: doc_out_form"></div>
	

</body>
</html>