<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Thông tin văn bản</title>

	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

	<!-- Latest compiled and minified JavaScript -->
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<style type="text/css">
		.p-doc {
			max-height: 80px;
			overflow: auto;
		}

		#table-change th, #table-change td { 
			border-top: none !important; 
		}

	</style>

	<script type="text/javascript">
		$( document ).ready(function() {
			$('#doc-form').toggle();
		});

		function toggleDocForm(){
			$('#doc-info').toggle();
			$('#doc-form').toggle();
		}
	</script>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragment/menu :: menu"></div>
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					
					<button type="button" class="btn btn-warning">Nhận quyền</button>
					<button type="button" class="btn btn-info" onclick="toggleDocForm();">Sửa đổi</button>
					<button type="button" class="btn btn-success">Hoàn thành</button>
					<button type="button" class="btn btn-danger navbar-right">Trả quyền</button>
					
				</div>
				<table class="table" id="table-info">
					<colgroup>
						<col class="col-xs-5 col-md-3">
						<col class="col-xs-10 col-md-8">
						<col class="col-xs-3 col-md-1">
					</colgroup>
					<tbody>
						<tr><th><h3>Thông Tin Văn Bản</h3></th><td></td></tr>
						<!-- ID -->
						<tr class="hidden">
							<th scope="row"><h4><span class="label label-primary">ID : </span></h4></th>
							<td><h4 th:text="${doc.docId}" id="docId"></h4></td>
						</tr>

						<!-- docName -->
						<tr>
							<th scope="row"><h4><span class="label label-primary">Tên văn bản : </span></h4></th>
							<td><h4 th:text="${doc.docName}" id="docName"></h4></td>
						</tr>

						<!-- title -->
						<tr>
							<th scope="row"><h4><span class="label label-primary">Tiêu đề : </span></h4></th>
							<td><h4 th:text="${doc.title}" id="title"></h4></td>
						</tr>

						<!-- epitome -->
						<tr>
							<th scope="row"><h4><span class="label label-primary">Trích yếu : </span></h4></th>
							<td><h4 th:text="${doc.epitome}" id="epitome"></h4></td>
						</tr>

						<!-- docType -->
						<tr>
							<th scope="row"><h4><span class="label label-primary">Loại văn bản : </span></h4></th>
							<td><h4 th:text="${doc.docType.docTypeName}" id="docType"></h4></td>
						</tr>

						<!-- privacyLevel -->
						<tr>
							<th scope="row"><h4><span class="label label-primary">Mức độ mật : </span></h4></th>
							<td><h4 th:text="${doc.privacyLevel.privacyName}" id="privacyLevel"></h4></td>
						</tr>

						<!-- emergencyLevel -->
						<tr>
							<th scope="row"><h4><span class="label label-primary">Mức độ khẩn : </span></h4></th>
							<td><h4 th:text="${doc.emergencyLevel.emeName}" id="emergencyLevel"></h4></td>
						</tr>

						<!-- tenure -->
						<tr>
							<th scope="row"><h4><span class="label label-primary">Nhiệm kỳ : </span></h4></th>
							<td><h4 th:text="${doc.tenure.tenureName}" id="tenure"></h4></td>
						</tr>

						<!-- numberSign -->
						<tr>
							<th scope="row"><h4><span class="label label-primary">Số và ký hiệu : </span></h4></th>
							<td><h4 th:text="${doc.numberSign}" id="numberSign"></h4></td>
						</tr>

						<!-- docPath -->
						<tr>
							<th scope="row"><h4><span class="label label-primary">Tập tin : </span></h4></th>
							<td><button type="button" class="btn btn-primary">Tải xuống <span class="glyphicon glyphicon-download"></span></button></td>
						</tr>
					</tbody>			
				</table>
			</div>			
		</div>	
		<div th:replace="fragment/footer :: footer"></div>
	</div>
</body>
</html>