<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trang chủ</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link th:href="@{/css/footer.css}" rel="stylesheet" />

</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragment/menu :: menu"></div>
		<div class="container">
			<h3 th:text="${message}"></h3>
		</div>
		<div th:replace="fragment/footer :: footer"></div>
	</div>
</body>
</html>