<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Nhiệm vụ cá nhân</title>

	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>
		
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	
	<script type="text/javascript" th:src="@{/js/my-task.js}" ></script>

	<script type="text/javascript" th:src="@{/js/jquery.table-sort.js}" ></script>

	<script type="text/javascript" th:src="@{/js/jquery.bootpag.min.js}" ></script>

	<link rel="stylesheet" th:href="@{/css/docs.min.css}" />

</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragment/menu :: menu"></div>
		
		<div th:replace="fragment/message :: message"></div>

		<div class="row">
			<div class="col-sm-0"></div>
			
			<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#release-task" aria-controls="release-task" role="tab" data-toggle="tab">Văn bản chờ ban hành <span class="badge" th:text="${docOutList.size()}">0</span></a>
					</li>

					<li role="presentation">
						<a href="#candidate-task" aria-controls="candidate-task" role="tab" data-toggle="tab">Nhiệm vụ đang xử lý <span class="badge" th:text="${docCandidateList.size()}">0</span></a>
					</li>

					<li role="presentation">
						<a href="#own-task" aria-controls="own-task" role="tab" data-toggle="tab" sec:authorize="hasRole('ROLE_MANAGER')">Theo dõi tiến độ <span class="badge" th:text="${docOwnerList.size()}">0</span></a>
					</li>

					<li role="presentation">
						<a href="#send-activity" aria-controls="send-activity" role="tab" data-toggle="tab" sec:authorize="hasRole('ROLE_OUTPUTER')">Văn bản chờ gửi <span class="badge" th:text="${docSendList.size()}">0</span></a>
					</li>

					<li role="presentation">
						<a href="#receive-task" aria-controls="receive-task" role="tab" data-toggle="tab" sec:authorize="hasRole('ROLE_INPUTER')">Văn bản chờ nhận <span class="badge" th:text="${docReceiveList.size()}">0</span></a>
					</li>
				</ul>

				<div class="tab-content">
					<!-- release task -->
					<div role="tabpanel" class="tab-pane active" id="release-task">
						<div th:replace="fragment/release-task :: release_task"></div>
					</div>

					<!-- candidate task -->
					<div role="tabpanel" class="tab-pane" id="candidate-task">
						<div th:replace="fragment/candidate-task :: candidate_task"></div>
					</div>

					<!-- owner -->
					<div role="tabpanel" class="tab-pane" id="own-task" sec:authorize="hasRole('ROLE_MANAGER')">
						<div th:replace="fragment/own-task :: own_task"></div>
					</div>

					<!-- send -->
					<div role="tabpanel" class="tab-pane" id="send-activity" sec:authorize="hasRole('ROLE_OUTPUTER')">
						<div th:replace="fragment/send-activity :: send_activity"></div>
					</div>

					<!-- receive -->
					<div role="tabpanel" class="tab-pane" id="receive-task" sec:authorize="hasRole('ROLE_INPUTER')">
						<div th:replace="fragment/receive-task :: receive_task"></div>
					</div>
				</div>

			</div>

			<div class="col-sm-0"></div>
		</div>

		<div th:repalce="fragment/footer :: footer"></div>
	</div>
</body>
</html>