<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
<title>Lưu trữ</title>

<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>

<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" href="#" th:href="@{/css/store.css}" />

<script type="text/javascript" th:src="@{/js/store.js}" ></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />

<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>

<script type="text/javascript" th:src="@{/js/jquery.bootpag.min.js}" ></script>


</head>
<body>
<div class="container-fluid">
	<div th:replace="fragment/menu :: menu"></div>
	<div>
		<table class="table">
			<colgroup>
				<col class="col-xs-3 col-md-2" />
				<col class="col-xs-9 col-md-6" />
				<col class="col-xs-6 col-md-4" />
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">
						<button type="button" class="btn btn-primary btn-doc" data-toggle="collapse" data-target="#tenure-out">Văn bản đi</button>
						
						<div class="collapse in" id="tenure-out">
							<div th:each="tio : ${tenureItemOutList}">
								<button type="button" class="btn btn-tenure btn-warning" data-toggle="collapse" th:attr="data-target='#tenureOut' + ${tio.tenure.tenureId}" >
									<span th:text="${tio.tenure.tenureName}"></span>
									<span class="badge" th:text="${tio.count}"></span>
								</button>

								<div class="collapse" th:attr="id='tenureOut' + ${tio.tenure.tenureId}"
									aria-expanded="true">
									<div class="list-group list-menu-doc">
										<a	th:each="to : ${tio.docTypeItemList}" href="#"
										th:href="@{'/store/list/out/' + ${tio.tenure.tenureId} + '/' + ${to.docType.docTypeId}}"
										class="list-group-item store-link"> 

											<span th:text="${to.docType.docTypeName}"></span> 
											<span class="badge" th:text="${to.count}"></span>	
										</a>
									</div>
								</div>
							</div>
						</div>


						<button type="button" class="btn btn-primary btn-doc" data-toggle="collapse" data-target="#tenure-in">Văn bản đến</button>
						
						<div class="collapse in" id="tenure-in">
							<div th:each="tii : ${tenureItemInList}">
								<button type="button" class="btn btn-tenure btn-warning" data-toggle="collapse" th:attr="data-target='#tenureIn' + ${tii.tenure.tenureId}" >
									<span th:text="${tii.tenure.tenureName}"></span>
									<span class="badge" th:text="${tii.count}"></span>
								</button>

								<div class="collapse" th:attr="id='tenureIn' + ${tii.tenure.tenureId}"
									aria-expanded="true">
									<div class="list-group list-menu-doc">
										<a	th:each="ti : ${tii.docTypeItemList}" href="#"
										th:href="@{'/store/list/in/' + ${tii.tenure.tenureId} + '/' + ${ti.docType.docTypeId}}"
										class="list-group-item store-link"> 

											<span th:text="${ti.docType.docTypeName}"></span> 
											<span class="badge" th:text="${ti.count}"></span>	
										</a>
									</div>
								</div>
							</div>
						</div>
					</th>
					<td id="show-content">
						<div class="list-group doc-group" th:if="${out}">
							<div th:each="doc : ${docList}" class="doc">
								<a href="#" class="list-group-item list-group-item-success" th:href="@{/flow/doc_info/} + ${doc.docId}">
									<h4 class="list-group-item-heading" th:text="'Số : ' + ${doc.numberSign} + ' : ' + ${doc.docName}"></h4>
									<p class="list-group-item-text p-doc" th:text="${doc.epitome}"></p>
								</a>
							</div>
						</div>

						<div class="list-group doc-group" th:if="${in}">
							<div th:each="docRec : ${docList}" class="doc">
								<a href="#" class="list-group-item list-group-item-success" th:href="@{/flow/doc_in_info/} + ${docRec.document.docId}">
									<h4 class="list-group-item-heading" th:text="'Số : ' + ${docRec.number} + ' - ' + ${docRec.receiveTime} + ' : ' + ${docRec.document.docName}" th:if="${docRec.number}"></h4>

									<p class="list-group-item-text p-doc" th:text="${docRec.document.epitome}"></p>
								</a> 
							</div>
						</div>
					</td>
					<td>
						<div th:replace="fragment/search :: search"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="fragment/footer :: footer"></div>
</div>
</body>
</html>