<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
<title>Test</title>

<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>

<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}" />

<script type="text/javascript" th:src="@{/js/jquery.bootpag.min.js}" ></script>

</head>
<body>
	<div th:each="row : ${rowList}">
		<div th:text="'row :' + ${row}"></div>
		<div th:each="elem : ${elemList}" th:with="Index=${row} * 10 + ${elem}">
			<div th:if="${Index} lt ${testList.size()}" th:text="${Index}"></div>
		</div>
	</div>

</body>
</html>