<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title th:text="${title}"></title>

<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

</head>
<style type="text/css">
.p-doc {
	max-height: 55px;
	overflow: auto;
}

.list-menu-doc, .ul-doc {
	padding-top: 10px;
	padding-left: 10px;
}

.doc-group {
	max-height: 87%;
}

.doc {
	margin-left: 10px;
	margin-bottom: 10px;
}
</style>

<body>
	<div class="container-fluid">
		<div th:replace="fragment/menu :: menu"></div>
		<table class="table">
			<colgroup>
				<col class="col-xs-5 col-md-2" />
				<col class="col-xs-13 col-md-10" />
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">
						<div class="list-group">
							<a href="#" class="list-group-item" th:each="typeInt : ${docTypeIntList}" th:href="@{/flow/waiting_list_} + ${type} + '?docTypeId=' + ${typeInt.docType.docTypeId}"><span th:text="${typeInt.docType.docTypeName}"/><span class="badge" th:text="${typeInt.value}"/></a>
						</div>
					</th>
					<td>
						<div class="list-group doc-group" th:each="doc : ${docList}">
							<a href="#" class="list-group-item list-group-item-success doc" th:href="@{/flow/doc_info} + '?docId=' + ${doc.docId}">
								<h4 class="list-group-item-heading" th:text="${doc.docName}"></h4>
								<p class="list-group-item-text p-doc" th:text="${doc.epitome}">
								</p>
							</a>
 
						</div> 

						<nav th:if="${docList.size() > 8}">
							<ul class="pager">
								<li class="previous disabled"><a href="#"><span
										aria-hidden="true">&larr;</span> Cũ</a></li>
								<li><span>1</span></li>
								<li class="next"><a href="#">Mới <span
										aria-hidden="true">&rarr;</span></a></li>
							</ul>
						</nav>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:replace="fragment/footer :: footer"></div>
	</div>
</body>
</html>