<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title th:text="${title}"></title>

<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" th:href="@{/css/waiting-list.css}" />

</head>

<body>
	<div class="container-fluid">
		<div th:replace="fragment/menu :: menu"></div>
		<div>
			<table class="table">
				<colgroup>
					<col class="col-xs-3 col-md-2" />
					<col class="col-xs-15 col-md-10" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<div th:if="${out}">
								<div class="list-group list-menu-doc"> 
									<a	th:each="to : ${typeOutList}" href="#"
									 	th:href="@{'/flow/wait_list/out/' + ${to.docType.docTypeId} + '/0'}"
										class="list-group-item"> 

										<span th:text="${to.docType.docTypeName}"></span> 
										<span class="badge" th:text="${to.count}"></span>	
									</a>
								</div>
							</div>
					

							<div th:if="${in}">
								<div class="list-group list-menu-doc">
									<a th:each="ti : ${typeInList}" href="#"
									th:href="@{'/flow/wait_list/in/' + ${ti.docType.docTypeId} + '/0'}"
									class="list-group-item"> 

										<span th:text="${ti.docType.docTypeName}"></span> 
										<span class="badge" th:text="${ti.count}"></span>	
									</a>
								</div>
							</div>
						</th>
						<td>
							<div class="list-group doc-group" th:if="${out}">
								<div th:each="d : ${docOutList}" class="doc">
									<a href="#" class="list-group-item list-group-item-warning" th:href="@{/flow/doc_info/} + ${d.doc.docId}">
										<h4 class="list-group-item-heading" th:text="${d.doc.numberSign} + ' - ' + ${d.doc.docName}"></h4>
										<p class="list-group-item-text p-doc" th:text="${d.doc.epitome}"></p>
										<a href="#" th:href="@{'/user_detail/' + ${d.user.userId}}" th:if="${d.user}" style="color:#0051FF;">
											<span>Người giữ quyền : </span>
											<strong th:text="${d.user.userDetail} ? 
													${d.user.userDetail.fullName} + ' - ' + ${d.user.level.levelName} : 
													${d.user.userName} + ' - ' + ${d.user.level.levelName}">
											</strong>
										</a>
										<a href="#" th:unless="${d.user}" style="color:#fa3c45;"><strong>Đã hoàn thành, chưa gửi</strong></a>
									</a>
								</div>
							</div>

							<div class="list-group doc-group" th:if="${in}">
								<div th:each="d : ${docInList}" class="doc">
									<a href="#" class="list-group-item list-group-item-warning" th:href="@{/flow/doc_in_info/} + ${d.docRec.document.docId}">
										<h4 class="list-group-item-heading" th:text="${d.docRec.number} + ' - ' + ${d.docRec.receiveTime} + ' - ' + ${d.docRec.document.docName}" th:if="${d.docRec.number}"></h4>
										<h4 class="list-group-item-heading" th:text="${'Chưa tiếp nhận - '} + ${d.docRec.document.docName}" th:unless="${d.docRec.number}"></h4>

										<p class="list-group-item-text p-doc" th:text="${d.docRec.document.epitome}"></p>
									</a> 

									<a href="#" th:href="@{'/user_detail/' + ${d.user.userId}}" th:if="${d.user}" style="color:#0051FF;">
											<span>Người giữ quyền : </span>
											<strong th:text="${d.user.userDetail} ? 
													${d.user.userDetail.fullName} + ' - ' + ${d.user.level.levelName} : 
													${d.user.userName} + ' - ' + ${d.user.level.levelName}">
											</strong>
										</a>
								</div>
							</div>

							<!-- <nav th:if="${docList.size() > 10}">
								<ul class="pager">
									<li class="previous disabled"><a href="#"><span
											aria-hidden="true">&larr;</span> Cũ</a></li>
									<li><span>1</span></li>
									<li class="next"><a href="#">Mới <span
											aria-hidden="true">&rarr;</span></a></li>
								</ul>
							</nav> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:replace="fragment/footer :: footer"></div>
	</div>
</body>
</html>