<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title th:text="${title}"></title>

<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" th:href="@{/css/waiting-list.css}" />

<script type="text/javascript" th:src="@{/js/waiting-list.js}" ></script>

<script type="text/javascript" th:src="@{/js/jquery.bootpag.min.js}" ></script>

<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/sticky-footer.css}"/>
 -->
</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragment/menu :: menu"></div>
		<div>
			<table class="table">
				<colgroup>
					<col class="col-xs-3 col-md-2" />
					<col class="col-xs-15 col-md-10" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<div th:if="${out}">
								<div class="list-group list-menu-doc"> 
									<a	th:each="to : ${typeOutList}" href="#"
									 	th:href="@{'/flow/wait_list/out/' + ${to.docType.docTypeId}}"
										class="list-group-item wait-link"> 

										<span th:text="${to.docType.docTypeName}"></span> 
										<span class="badge" th:text="${to.count}"></span>	
									</a>
								</div>
							</div>
					

							<div th:if="${in}">
								<div class="list-group list-menu-doc">
									<a th:each="ti : ${typeInList}" href="#"
									th:href="@{'/flow/wait_list/in/' + ${ti.docType.docTypeId}}"
									class="list-group-item wait-link"> 

										<span th:text="${ti.docType.docTypeName}"></span> 
										<span class="badge" th:text="${ti.count}"></span>	
									</a>
								</div>
							</div>
						</th>
						<td id="show-content">
							<div th:replace="fragment/wait-element :: wait_element"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
	<div th:replace="fragment/footer :: footer"></div>
</body>
</html>