<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Quản lý loại văn bản</title>

	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />

	<script type="text/javascript" th:src="@{/js/doctype-list.js}" ></script>

</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragment/menu :: menu"></div>
		<div class="container">
			<div>
				<button id="btn-add" type="button" class="btn btn-info" data-toggle="modal" data-target=".form-type">Thêm</button>
				<button id="btn-change" type="button" class="btn btn-warning" disabled="true" data-toggle="modal" data-target=".form-type">Sửa</button>	
			</div>
			<table class="table">
				<colgroup>
					<col class="col-xs-3 col-md-1" />
					<col class="col-xs-12 col-md-10" />
					<col class="col-xs-3 col-md-1" />
				</colgroup>
				<tbody>
					<table class="table table-hover">
						<tbody id="table-body">
							<thead>
								<th>ID</th>
								<th>Tên loại</th>
								<th>Tên viết tắt</th>
								<th>Mô tả</th>
							</thead>
							<tr th:each="type : ${docTypeList}" th:attr="id=${type.docTypeId}">
								<td th:text="${type.docTypeId}" class="docTypeId"></td>
								<td th:text="${type.docTypeName}" class="docTypeName"></td>
								<td th:text="${type.shortName}" class="shortName"></td>
								<td th:text="${type.description}" class="description col-sm-8"></td>
							</tr> 
						</tbody>
					</table>
				</tbody>
			</table>

			<div class="modal fade form-type" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form class="form-horizontal" method="post" style="margin: 15px;" autocomplete="off" th:action="@{/admin/save_doctype}">

							<div class="form-group hidden">
								<label for="docTypeId" class="col-sm-3 control-label">ID</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="docTypeId" th:name="docTypeId" value=""/>
								</div>
							</div>

							<div class="form-group">
								<label for="docTypeName" class="col-sm-3 control-label">Tên loại</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="docTypeName" th:name="docTypeName" required="true"/>
								</div>
							</div>

							<div class="form-group">
								<label for="shortName" class="col-sm-3 control-label">Viết tắt</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="shortName" th:name="shortName" required="true"/>
								</div>
							</div>

							<div class="form-group">
								<label for="description" class="col-sm-3 control-label">Mô tả</label>
								<div class="col-sm-9">
									<textarea class="form-control" rows="3" id="description" th:name="description" maxlength="350"></textarea>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-9">
									<button type="submit" class="btn btn-primary">Lưu</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" aria-hidden="true">Bỏ qua</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragment/footer :: footer"></div>
	</div>
</body>
</html>