<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Quản lý mức độ khẩn</title>

	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>

	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

	<script type="text/javascript" th:src="@{/js/emergency-list.js}" ></script>

</head>
<body>
	<div class="container-fluid">
	
		<div th:replace="fragment/menu :: menu"></div>
		<div th:replace="fragment/message :: message"/>
		<div class="container" th:unless="${error}">
			<div>
				<button id="btn-add" type="button" class="btn btn-info" data-toggle="modal" data-target=".form-emergency">Thêm</button>
				<button id="btn-change" type="button" class="btn btn-warning" disabled="true" data-toggle="modal" data-target=".form-emergency">Sửa</button>	
			</div>
			<table class="table">
				<colgroup>
					<col class="col-xs-3 col-md-1" />
					<col class="col-xs-12 col-md-10" />
					<col class="col-xs-3 col-md-1" />
				</colgroup>
				<tbody>
					<table class="table table-hover">
						<tbody id="table-body">
							<thead>
								<th>ID</th>
								<th>Tên mức độ khẩn</th>
								<th>Mô tả</th>
							</thead>
							<tr th:each="emergency : ${emergencyList}" th:attr="id=${emergency.emeId}">
								<td th:text="${emergency.emeId}" class="emeId"></td>
								<td th:text="${emergency.emeName}" class="emeName"></td>
								<td th:text="${emergency.description}" class="description col-sm-9"></td>
							</tr> 
						</tbody>
					</table>
				</tbody>
			</table>

			<div class="modal fade form-emergency" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form class="form-horizontal" method="post" style="margin: 15px;" autocomplete="off" th:action="@{/admin/save_emergency}">

							<div class="form-group hidden">
								<label for="emeId" class="col-sm-3 control-label">ID</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="emeId" th:name="emeId" value=""/>
								</div>
							</div>

							<div class="form-group">
								<label for="emeName" class="col-sm-3 control-label">Tên mức độ khẩn</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="emeName" th:name="emeName" required="true" autofocus="true"/>
								</div>
							</div>

					
							<div class="form-group">
								<label for="description" class="col-sm-3 control-label">Mô tả</label>
								<div class="col-sm-9">
									<textarea class="form-control" rows="3" id="description" th:name="description" maxlength="350"></textarea>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-9">
									<button type="submit" class="btn btn-primary">Lưu</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" aria-hidden="true">Bỏ qua</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragment/footer :: footer"></div>
	</div>
</body>
</html>