<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Quản lý luồng</title>

	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>

	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
	<div class="container-fluid">
		
		<div th:replace="fragment/menu :: menu"></div>
		<div th:replace="fragment/message :: message"/>
		<div class="container" th:unless="${error}">
			<table class="table">
				<colgroup>
					<col class="col-xs-3 col-md-1" />
					<col class="col-xs-12 col-md-10" />
					<col class="col-xs-3 col-md-1" />
				</colgroup>
				<tbody>
					<div class="panel panel-default flow-out">
						<div class="panel-heading">
							<h3 class="panel-title">Luồng văn bản đi</h3>
						</div>
						<div class="panel-body">
							<h4>ID : <span th:text="${flow_out}"></span></h4>
							
							<a type="button" href="#" th:href="@{/admin/download_flow_out}" class="btn btn-success">Tải xuống <span class="glyphicon glyphicon-arrow-down"></span></a>
	
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".form-flow-out">Tải lên <span class="glyphicon glyphicon-arrow-up"></span></button>
						</div>
					</div>

					<div class="panel panel-default flow-in">
						<div class="panel-heading">
							<h3 class="panel-title">Luồng văn bản đến</h3>
						</div>
						<div class="panel-body">
							<h4>ID : <span th:text="${flow_in}"></span></h4>
							<a type="button" href="#" th:href="@{/admin/download_flow_in}" class="btn btn-success">Tải xuống <span class="glyphicon glyphicon-arrow-down"></span></a>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".form-flow-in">Tải lên <span class="glyphicon glyphicon-arrow-up"></span></button>
						</div>
					</div>
				</tbody>
			</table>

			<div class="modal fade form-flow-out" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel1" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<form class="form-horizontal" method="post" style="margin: 15px;" autocomplete="off" th:action="@{/admin/upload_flow_out} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" enctype="multipart/form-data">
							<div class="form-group">
								<div class="col-sm-9">
									<label for="file-flow-out">Tập tin tải lên</label>
									<input type="file" id="file-flow-out" th:name="file"/>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-9">
									<button type="submit" class="btn btn-primary">Lưu</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" aria-hidden="true">Bỏ qua</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="modal fade form-flow-in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel2" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<form class="form-horizontal" method="post" style="margin: 15px;" autocomplete="off" th:action="@{/admin/upload_flow_in} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" enctype="multipart/form-data">
							<div class="form-group">
								<div class="col-sm-9">
									<label for="file-flow-in">Tập tin tải lên</label>
									<input type="file" id="file-flow-in" th:name="file"/>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-9">
									<button type="submit" class="btn btn-primary">Lưu</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" aria-hidden="true">Bỏ qua</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		<div th:replace="fragment/footer :: footer"></div>
	</div>	
</body>
</html>