<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Quản lý cơ quan</title>

	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>

	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

	<script type="text/javascript" th:src="@{/js/organ-list.js}" ></script>

</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragment/menu :: menu"></div>
		<div class="container">
			<div>
				<button id="btn-add" type="button" class="btn btn-info" data-toggle="modal" data-target=".form-organ">Thêm</button>
				<button id="btn-change" type="button" class="btn btn-warning" disabled="true" data-toggle="modal" data-target=".form-organ">Sửa</button>	
			</div>
			<table class="table">
				<colgroup>
					<col class="col-xs-3 col-md-1" />
					<col class="col-xs-12 col-md-10" />
					<col class="col-xs-3 col-md-1" />
				</colgroup>
				<tbody>
					<table class="table table-hover">
						<tbody id="table-body">
							<thead>
								<th>ID</th>
								<th>Tên cơ quan</th>
								<th>Số điện thoại</th>
								<th>Email</th>
								<th>Đơn vị chủ quản</th>
								<th>Cấp cơ quan</th>
								<th>Viết tắt</th>
							</thead>
							<tr th:each="organ : ${organList}" th:attr="id=${organ.organId}">
								<td th:text="${organ.organId}" class="organId"></td>
								<td th:text="${organ.organName}" class="organName"></td>
								<td th:text="${organ.phoneNumber}" class="phoneNumber"></td>
								<td th:text="${organ.email}" class="email"></td>
								<td th:text="${organ.unit.unitName}" class="unit" th:attr="data=${organ.unit.unitId}"></td>
								<td th:text="${organ.organType.organTypeName}" class="organType" th:attr="data=${organ.organType.organTypeId}"></td>
								<td th:text="${organ.shortName}" class="shortName"></td>
							</tr> 
						</tbody>
					</table>
				</tbody>
			</table>

			<div class="modal fade form-organ" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form class="form-horizontal" method="post" style="margin: 15px;" autocomplete="off" th:action="@{/admin/save_organ}">

							<div class="form-group hidden">
								<label for="organId" class="col-sm-3 control-label">ID</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="organId" th:name="organId" value=""/>
								</div>
							</div>

							<div class="form-group">
								<label for="organName" class="col-sm-3 control-label">Tên cơ quan</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="organName" th:name="organName" required="true"/>
								</div>
							</div>

							<div class="form-group">
								<label for="phoneNumber" class="col-sm-3 control-label">Số điện thoại</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="phoneNumber" th:name="phoneNumber"/>
								</div>
							</div>

							<div class="form-group">
								<label for="email" class="col-sm-3 control-label">Email</label>
								<div class="col-sm-9">
									<input type="email" class="form-control" id="email" th:name="email" required="true"/>
								</div>
							</div>

							<div class="form-group">
								<label for="unit" class="col-sm-3 control-label">Đơn vị chủ quản</label>
								<div class="col-sm-9">
									<select class="form-control" id="unit"  th:name="unitId" required="true">
										<option th:each="unit : ${unitList}"
												th:value="${unit.unitId}"
												th:text="${unit.unitName}">
										</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="organType" class="col-sm-3 control-label">Cấp cơ quan</label>
								<div class="col-sm-9">
									<select class="form-control" id="organType"  th:name="organTypeId" required="true">
										<option th:each="organType : ${organTypeList}"
												th:value="${organType.organTypeId}"
												th:text="${organType.organTypeName}">
										</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="shortName" class="col-sm-3 control-label">Viết tắt</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="shortName" th:name="shortName" required="true"/>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-9">
									<button type="submit" class="btn btn-primary">Lưu</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" aria-hidden="true">Bỏ qua</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragment/footer :: footer"></div>
	</div>
</body>
</html>