<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Quản lý nhiệm kỳ</title>

	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />

	<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>

	<script type="text/javascript" th:src="@{/js/tenure-list.js}" ></script>

</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragment/menu :: menu"></div>
		<div class="container">
			<div th:if="${error}" class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign"
				aria-hidden="true"></span> <span class="sr-only">Thông báo:</span><p th:text="${errorMessage}"></p>
			</div>

			<div>
				<button id="btn-add" type="button" class="btn btn-info" data-toggle="modal" data-target=".form-tenure">Thêm</button>
				<button id="btn-change" type="button" class="btn btn-warning" disabled="true" data-toggle="modal" data-target=".form-tenure">Sửa</button>	
			</div>
			<table class="table">
				<colgroup>
					<col class="col-xs-3 col-md-1" />
					<col class="col-xs-12 col-md-10" />
					<col class="col-xs-3 col-md-1" />
				</colgroup>
				<tbody>
					<table class="table table-hover">
						<tbody id="table-body">
							<thead>
								<th>ID</th>
								<th>Tên nhiệm kỳ</th>
								<th>Thời gian bắt đầu</th>
								<th>Thời gian kết thúc</th>
							</thead>
							<tr th:each="tenure : ${tenureList}" th:attr="id=${tenure.tenureId}">
								<td th:text="${tenure.tenureId}" class="tenureId"></td>
								<td th:text="${tenure.tenureName}" class="tenureName"></td>
								<td th:text="${tenure.timeStart}" class="timeStart"></td>
								<td th:text="${tenure.timeEnd}" class="timeEnd"></td>
							</tr> 
						</tbody>
					</table>
				</tbody>
			</table>

			<div class="modal fade form-tenure" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form class="form-horizontal" method="post" style="margin: 15px;" autocomplete="off" th:action="@{/admin/save_tenure}">

							<div class="form-group hidden">
								<label for="tenureId" class="col-sm-3 control-label">ID</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="tenureId" th:name="tenureId" value=""/>
								</div>
							</div>

							<div class="form-group">
								<label for="tenureName" class="col-sm-3 control-label">Tên nhiệm kỳ</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="tenureName" th:name="tenureName" required="true"/>
								</div>
							</div>

					
							<div class="form-group">
								<label for="timeStart" class="col-sm-3 control-label">Thời gian bắt đầu</label>
								<div class="input-group date form_date col-sm-9" style="padding-left:15px; padding-right:15px;" data-date="" data-date-format="dd MM yyyy" data-link-field="timeStart" data-link-format="yyyy-mm-dd">
									<input class="form-control" size="16" type="text" value="" readonly="true" th:name="timeStart"/>
									<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
								<input type="hidden" id="timeStart" value="" /><br/>
							</div>

							<div class="form-group">
								<label for="timeEnd" class="col-sm-3 control-label">Thời gian kết thúc</label>
								<div class="input-group date form_date col-sm-9" style="padding-left:15px; padding-right:15px;" data-date="" data-date-format="dd MM yyyy" data-link-field="timeEnd" data-link-format="yyyy-mm-dd">
									<input class="form-control" size="16" type="text" value="" readonly="true" th:name="timeEnd"/>
									<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
								<input type="hidden" id="timeEnd" value="" /><br/>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-9">
									<button type="submit" class="btn btn-primary">Lưu</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" aria-hidden="true">Bỏ qua</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragment/footer :: footer"></div>
	</div>
</body>
</html>