<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Quản lý tài khoản</title>

	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>

	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

	<script type="text/javascript" th:src="@{/js/user-list.js}" ></script>

</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragment/menu :: menu"></div>
		<div class="container">
			<div>
				<button id="btn-add" type="button" class="btn btn-info" data-toggle="modal" data-target=".form-user-account">Thêm</button>
				<button id="btn-change" type="button" class="btn btn-warning" disabled="true" data-toggle="modal" data-target=".form-user-account">Sửa</button>				
			</div>
			<table class="table">
				<colgroup>
					<col class="col-xs-3 col-md-1" />
					<col class="col-xs-12 col-md-10" />
					<col class="col-xs-3 col-md-1" />
				</colgroup>
				<tbody>
					<!-- Container -->
					<table class="table table-hover">
						<tbody id="table-body">
							<thead>
								<th>ID</th>
								<th>Tên tài khoản</th>
								<th>Khả dụng</th>
								<th>Cơ quan</th>
								<th>Chức vụ</th>
								<th>Quyền hạn</th>
							</thead>
							<tr th:each="user : ${userList}" th:attr="id=${user.userId}">
								<td th:text="${user.userId}"></td>
								<td th:text="${user.userName}" class="userName"></td>
								<td th:text="${user.enabled}" class="enabled"></td>

								<td th:if="${user.organ}" th:text="${user.organ.unit.unitName} + ' - ' + ${user.organ.organName}" class="organ" th:attr="data=${user.organ.organId}"></td>
								<td th:unless="${user.organ}" class="organ" th:value="NULL"></td>
								
								<td th:if="${user.level}" th:text="${user.level.levelName}" class="level" th:attr="data=${user.level.levelId}"></td>
								<td th:unless="${user.level}" class="level" th:value="NULL"></td>

								<td th:text="${user.getRoleNames()}"></td>
							</tr> 
						</tbody>
					</table>
				</tbody>
			</table>
	
			<div class="modal fade form-user-account" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form class="form-horizontal" method="post" style="margin: 15px;" autocomplete="off" th:action="@{/admin/save_user}">
	
							<div class="form-group hidden">
								<label for="userId" class="col-sm-2 control-label">ID</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="userId" th:name="userId" value=""/>
								</div>
							</div>

							<div class="form-group">
								<label for="userName" class="col-sm-2 control-label">Tên tài khoản</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="userName" placeholder="Tên tài khoản" autofocus="true" th:name="userName" required="true"/>
								</div>
							</div>

							<div class="form-group">
								<label for="password" class="col-sm-2 control-label">Mật khẩu</label>
								<div class="col-sm-10">
									<input type="password" class="form-control change-required" id="password" placeholder="Mật khẩu" th:name="password" value="" />
								</div>
							</div>

							<div class="form-group">
								<label for="organ" class="col-sm-2 control-label">Cơ quan</label>
								<div class="col-sm-10">
									<select class="form-control" id="organ"  th:name="organId" required="true">
										<option th:each="organ : ${organList}"
												th:value="${organ.organId}"
												th:text="${organ.unit.unitName} + ' - ' + ${organ.organName}">
										</option>
									</select>
								</div>
							</div>	

							<div class="form-group">
								<label for="level" class="col-sm-2 control-label">Chức vụ</label>
								<div class="col-sm-10">
									<select class="form-control" th:name="levelId" id="level">
										<option th:each="level : ${levelList}"
												th:value="${level.levelId}"
												th:text="${level.levelName}">
										</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="select-roles" class="col-sm-2 control-label">Quyền hạn</label>
								<div class="col-sm-10">
									<select class="form-control change-required" th:name="roles" multiple="true" id="select-roles">
										<option th:each="role : ${roleList}"
												th:value="${role.roleId}"
												th:text="${role.fullName}">
										</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="enabled" class="col-sm-2 control-label">Khả dụng</label>
								<div class="col-sm-10">
									<div class="checkbox">
										<label>
											<input type="checkbox" value="true" checked="unchecked" th:name="enabled" id="enabled"/>
										</label>
									</div>
								</div>
							</div>
	
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-primary">Lưu</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" aria-hidden="true">Bỏ qua</button>
								</div>
							</div>
	  					</form>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragment/footer :: footer"></div>
	</div>
</body>
</html>